<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parceiro!</title>
    <link rel="stylesheet" href="stylesheets/admin.css" />
    <link rel="stylesheet" href="stylesheets/header.css" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <section class="tabela">
        <button id="meus-produtos">
          <a href="/admin/produtos">Meus Produtos</a>
        </button>
        <button href="/categorias">Minhas Categorias</button>
        <button href="/">Detalhes</button>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
