:root {
  --vinho: #cb3737;
  --preto: #1a1515;
  --cinza: #dedddd;
  --branco: #fff5ec;
  --vinho-h: #b83232;
}

.dark-mode:root {
  --vinho: #cb3737;
  --preto: #fff5ec;
  --cinza: #dedddd;
  --branco: #1a1515;
}

header {
  width: 100%;
  background-color: var(--vinho);
  height: 70px;
}

#logo-carrinho {
  padding-left: 45%;
  padding-top: 10px;
}
main {
  height: 500px;
  width: 100%;
  display: flex;
}
.conteudo-principal {
  background-color: var(--cinza);
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
  width: 700px;
  height: 350px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
}

main img {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 30px;
}

main h1 {
  color: var(--preto);
  width: 200px;
  margin-top: 30px;
}
main h2 {
  margin-top: 30px;
}

.box-sugestao {
  width: 350px;
  height: 350px;
  background-color: var(--cinza);
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.box-sugestao img {
  width: 100px;
  height: 100px;
}
.box-sugestao h3 {
  margin-left: 20px;
  margin-top: 40px;
}
